.divLoginForm, .divLoginFormRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.labelForm {
    margin-bottom: 5px;
}

.inputLoginForm, .inputpassword, .inputUsername, .inputEmail, .inputPassword, .inputRepeatPassword {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}
